@import "tailwindcss";

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    color: #f0f0f0;
}

@layer base {
    input:-webkit-autofill {
        -webkit-text-fill-color: white;
        caret-color: white;
        -webkit-box-shadow: 0 0 0 1000px transparent inset;
        border-color: white;
        transition: background-color 9999s ease-in-out 0s;
    }
}